<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Laundry-Quoll</title>

    <!-- Bootstrap core CSS -->
    <link th:href="@{/Resources/dashgumfree_v2/Theme/assets/css/bootstrap.css}" rel="stylesheet">
    <!--external css-->
    <link th:href="@{/Resources/dashgumfree_v2/Theme/assets/font-awesome/css/font-awesome.css}" rel="stylesheet" />
    <link th:href="@{/Resources/bootstrap-datepicker-1.6.4-dist/css/bootstrap-datepicker.css}" rel="stylesheet" />
        
    <!-- Custom styles for this template -->
    <link th:href="@{/Resources/dashgumfree_v2/Theme/assets/css/style.css}" rel="stylesheet">
    <link th:href="@{/Resources/dashgumfree_v2/Theme/assets/css/style-responsive.css}" rel="stylesheet">

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script th:src="@{https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js}"></script>
      <script th:src="@{https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js}"></script>
    <![endif]-->
  </head>

  <body>

  <section id="container" >
      <!-- **********************************************************************************************************************************************************
      TOP BAR CONTENT & NOTIFICATIONS
      *********************************************************************************************************************************************************** -->
      <!--header start-->
      <header class="header black-bg">
              <div class="sidebar-toggle-box">
                  <div class="fa fa-bars tooltips" style="color:white" data-placement="right" data-original-title="Toggle Navigation"></div>
              </div>
            <!--logo start-->
            <a th:href="@{pickup}" class="logo"><b>COMPLETE WORKWEAR</b></a>
            <!--logo end-->
            <div class="top-menu">
            	<ul class="nav pull-right top-menu">
                    <li><a class="logout" th:href="@{/logout}">Logout</a></li>
            	</ul>
            </div>
        </header>
      <!--header end-->
      
      <!-- **********************************************************************************************************************************************************
      MAIN SIDEBAR MENU
      *********************************************************************************************************************************************************** -->
      <!--sidebar start-->
      <aside>
          <div id="sidebar"  class="nav-collapse ">
              <!-- sidebar menu start-->
              <ul class="sidebar-menu" id="nav-accordion">
              
              	  <p class="centered"><img th:src="@{/Resources/dashgumfree_v2/Theme/assets/img/ui-sam.jpg}" class="img-circle" width="60"></a></p>
              	  <h5 class="centered">Driver</h5>

                  <li class="mt">
                      <a class="active" th:href="@{pickup}">
                          <i class="fa fa-truck"></i>
                          <span>Pick-up Orders</span>
                      </a>
                  </li>
                  
                  <li class="mt">
                      <a th:href="@{dropoff}">
                          <i class="fa fa-truck"></i>
                          <span>Drop-off Orders</span>
                      </a>
                  </li>

              </ul>
              <!-- sidebar menu end-->
          </div>
      </aside>
      <!--sidebar end-->
      
      <!-- **********************************************************************************************************************************************************
      MAIN CONTENT
      *********************************************************************************************************************************************************** -->
      <!--main content start-->
      <section id="main-content">
          <section class="wrapper site-min-height">
          	<h3><i class="fa fa-angle-right"></i> Pick Up Order</h3>      	
			
			<input type="text" th:value="${orderid}" id="orderid" hidden="hidden">
			<div class="row mt">
          		<div class="col-lg-12">
          			<div class="form-panel">
          				<div id="todoorder"></div>
                 		<form class="form-horizontal style-form" method="get" id="orderform">
                 		<div id="garmentlist"></div>
                         <div class="form-group">
                              <label class="col-sm-2 control-label">Notes</label>
                          	  <div class="col-sm-10">
                              	<textarea class="form-control" id="notes" rows="3"></textarea>
                              </div>
                          </div>
                          <div class="btn-group btn-group-justified">
                          	<div class="btn-group">
	                          <a th:href="@{pickup}"><button type="button" class="btn btn-default" >Cancel</button></a>
	                        </div>
	                        <div class="btn-group">
	                          <button type="button" class="btn btn-info" onclick="finishPickup();">Complete</button>
	                        </div>
                          </div>
                          
                 		</form>
          			</div><!-- /form-panel -->
          		</div><!-- /col-lg-12 -->
          	</div><!-- /row -->
		</section><! --/wrapper -->
      </section><!-- /MAIN CONTENT -->

      <!--main content end-->
  </section>

    <!-- js placed at the end of the document so the pages load faster -->
    <script th:src="@{/Resources/dashgumfree_v2/Theme/assets/js/jquery.js}"></script>
    <script th:src="@{/Resources/dashgumfree_v2/Theme/assets/js/bootstrap.min.js}"></script>
    <script th:src="@{/Resources/dashgumfree_v2/Theme/assets/js/jquery-ui-1.9.2.custom.min.js}"></script>
    <script th:src="@{/Resources/dashgumfree_v2/Theme/assets/js/jquery.ui.touch-punch.min.js}"></script>
    <script class="include" type="text/javascript" th:src="@{/Resources/dashgumfree_v2/Theme/assets/js/jquery.dcjqaccordion.2.7.js}"></script>
    <script th:src="@{/Resources/dashgumfree_v2/Theme/assets/js/jquery.scrollTo.min.js}"></script>
    <script th:src="@{/Resources/dashgumfree_v2/Theme/assets/js/jquery.nicescroll.js}" type="text/javascript"></script>
 	<script th:src="@{/Resources/bootstrap-datepicker-1.6.4-dist/js/bootstrap-datepicker.js}"></script>

    <!--common script for all pages-->
    <script th:src="@{/Resources/dashgumfree_v2/Theme/assets/js/common-scripts.js}"></script>
    <script th:src="@{/js/layer.js}"></script>
    
    <script type="text/javascript">
    var itemlist = [];
    
	$(document).ready(function() {
		
		 var param = "orderid=" + document.getElementById("orderid").value;
		
		 $.ajax({
             type: "GET",
             url: 'order/pickup_todo',
             cache : false, 
             data: param,
             dataType: "json",
             success: function(result) {
             	
            		var companyname = result.company.name;
            		addCompanyName(companyname);
            	 	var companyaddress = result.address;
            	 	addAddress(companyaddress);
            	 	
            	 	var garments = result.company.garmentsList;
            	 	for(var i = 0; i < garments.length; i++){
            	 		var garmentname = garments[i].shortname;
            	 		var garmid = garments[i].id;
            	 		addGarment(garmentname,garmid);
            	 		itemlist.push({
            	 			garmentid: garmid,
            	 			pickupnumber: 0
            	 	    });
            	 	}
            	 	
             		
             },
             error: function(XMLHttpRequest, textStatus, errorThrown) {
                 alert("Search Fail");
             }
         });
	} );
	
	function addCompanyName(companyname){
		var name = document.createElement("h4");
		name.className = "mb";
		var textname = document.createTextNode(companyname);
		name.appendChild(textname);
		document.getElementById("todoorder").appendChild(name);
	} 
	
	function addAddress(companyaddress){
		var address = document.createElement("h5");
		address.className = "mb";
		var textaddress = document.createTextNode("Address: "+companyaddress);
		address.appendChild(textaddress);
		document.getElementById("todoorder").appendChild(address);
	} 
	
	function addGarment(garmentname,garmentid){
		var node = document.createElement("div");
		node.className = "form-group";
		var garment = document.createElement("label");
		garment.className = "col-sm-2 control-label";
		var name = document.createTextNode(garmentname);
		
		var col = document.createElement("div");
		col.className = "col-sm-10";
		var number = document.createElement("input");
		number.className = "form-control";
		number.type = "number";
		number.min = "0";
		number.id = garmentid;
		number.placeholder = "0";
		
		garment.appendChild(name);
		col.appendChild(number);
		node.appendChild(garment);
		node.appendChild(col);
		document.getElementById("garmentlist").appendChild(node);
		
	}
	
	function finishPickup(){
		
		for (var i = 0; i < itemlist.length; i++){
			var id = itemlist[i].garmentid;
			var number = document.getElementById(id).value;
			if(number=="")
				number = 0;
			itemlist[i].pickupnumber = number;
		}
		
		var param = {};
		param.orderid = document.getElementById("orderid").value;
		param.items = itemlist;
		param.notes = document.getElementById("notes").value;
		
		$.ajax({
            cache: true,
            type: "POST",
            url:'order/pickup_submit',
            contentType : 'application/json;charset=utf-8',
            dataType:"text",
            data:JSON.stringify(param),
            async: false,
            success: function(data) {
            		if(data=="success"){
                    layer.msg('Save success.');
                    var t=setTimeout('window.location.href="pickup"',1000);
                }else{
                    layer.msg('Save fail.');
                }
            }
        }); 
		
	} 
	
	</script>

  </body>
</html>
