<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>

        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>login Form</title>

        <!-- CSS -->
        <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Roboto:400,100,300,500">
        <link rel="stylesheet" th:href="@{/login/bootstrap/css/bootstrap.min.css}">
        <link rel="stylesheet" th:href="@{/login/font-awesome/css/font-awesome.min.css}">
		<link rel="stylesheet" th:href="@{/login/css/form-elements.css}">
        <link rel="stylesheet" th:href="@{/login/css/style.css}">

        <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
        <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
        <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
        <!--<![endif]&ndash;&gt;-->

        <!-- Favicon and touch icons -->
        <link rel="shortcut icon" th:href="@{/login/ico/favicon.png}">
        <link rel="apple-touch-icon-precomposed" sizes="144x144" th:href="@{/login/ico/apple-touch-icon-144-precomposed.png}">
        <link rel="apple-touch-icon-precomposed" sizes="114x114" th:href="@{/login/ico/apple-touch-icon-114-precomposed.png}">
        <link rel="apple-touch-icon-precomposed" sizes="72x72" th:href="@{/login/ico/apple-touch-icon-72-precomposed.png}">
        <link rel="apple-touch-icon-precomposed" th:href="@{/login/ico/apple-touch-icon-57-precomposed.png}">

    </head>

    <body>

        <!-- Top content -->
        <div class="top-content">

            <div class="inner-bg">
                <div class="container">
                	<div class="row">
                        <div class="col-sm-8 col-sm-offset-2 text">
                            <h1><strong>Laundry</strong> Login Form</h1>
                            <div class="description">
                            	<p>
	                            	Developed by <strong>Quoll</strong>
                            	</p>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-6 col-sm-offset-3 form-box">
                        	<div class="form-top">
                        		<div class="form-top-left">
                        			<h3>Login to Laundry Management System</h3>
                            		<p>Enter your username and password to log on:</p>
                        		</div>
                        		<div class="form-top-right">
                        			<i class="fa fa-key"></i>
                        		</div>
                            </div>
                            <div class="form-bottom">
			                    <form th:action="@{/login}" action="" method="post" class="login-form" id="loginform" name="loginform">
			                    	<div class="form-group">
			                    		<label class="sr-only" for="username">Username</label>
			                        	<input type="text" name="username" placeholder="Username..." class="form-username form-control" id="username">
			                        </div>
			                        <div class="form-group">
			                        	<label class="sr-only" for="password">Password</label>
			                        	<input type="password" name="password" placeholder="Password..." class="form-password form-control" id="password">
			                        </div>
			                        <button type="submit" class="btn">Log in</button>
			                    </form>
		                    </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>


        <!-- Javascript -->
        <script th:src="@{/login/js/jquery-1.11.1.min.js}"></script>
        <script th:src="@{/login/bootstrap/js/bootstrap.min.js}"></script>
        <script th:src="@{/login/js/jquery.backstretch.min.js}"></script>
        <script th:src="@{/login/js/scripts.js}"></script>

        <!--[if lt IE 10]>
        <script th:src="@{/assets/js/placeholder.js}"></script>
        <!--<![endif]&ndash;&gt;-->

    </body>

</html>