<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Laundry-Quoll</title>

    <!-- Bootstrap core CSS -->
    <link th:href="@{/Resources/dashgumfree_v2/Theme/assets/css/bootstrap.css}" rel="stylesheet">
    <!--external css-->
    <link th:href="@{/Resources/dashgumfree_v2/Theme/assets/font-awesome/css/font-awesome.css}" rel="stylesheet" />
    <link th:href="@{/Resources/bootstrap-datepicker-1.6.4-dist/css/bootstrap-datepicker.css}" rel="stylesheet" />
    <link rel="stylesheet" type="text/css" th:href="@{/Resources/bootstrap-select/css/bootstrap-select.css}">

    <!-- Custom styles for this template -->
    <link th:href="@{/Resources/dashgumfree_v2/Theme/assets/css/style.css}" rel="stylesheet">
    <link th:href="@{/Resources/dashgumfree_v2/Theme/assets/css/style-responsive.css}" rel="stylesheet">

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
    <script th:src="@{https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js}"></script>
    <script th:src="@{https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js}"></script>
    <![endif]-->
</head>

<body>

<section id="container" >
    <!-- **********************************************************************************************************************************************************
    TOP BAR CONTENT & NOTIFICATIONS
    *********************************************************************************************************************************************************** -->
    <!--header start-->
    <header class="header black-bg">
        <div class="sidebar-toggle-box">
            <div class="fa fa-bars tooltips" style="color:white" data-placement="right" data-original-title="Toggle Navigation"></div>
        </div>
        <!--logo start-->
        <a th:href="@{index}" class="logo"><b>COMPLETE WORKWEAR</b></a>
        <!--logo end-->
        <div class="top-menu">
            <ul class="nav pull-right top-menu">
                <li><a class="logout" th:href="@{/logout}">Logout</a></li>
            </ul>
        </div>
    </header>
    <!--header end-->

    <!-- **********************************************************************************************************************************************************
    MAIN SIDEBAR MENU
    *********************************************************************************************************************************************************** -->
    <!--sidebar start-->
    <aside>
        <div id="sidebar"  class="nav-collapse ">
            <!-- sidebar menu start-->
            <ul class="sidebar-menu" id="nav-accordion">

                <p class="centered"><img th:src="@{/Resources/dashgumfree_v2/Theme/assets/img/ui-sam.jpg}" class="img-circle" width="60"></a></p>
                <h5 class="centered">Office person</h5>

                <li class="sub-menu">
                    <a th:href="@{javascript:;}" >
                        <i class="fa fa-tasks"></i>
                        <span>Orders</span>
                    </a>
                    <ul class="sub">
                        <li><a  th:href="@{view_orders}">View orders</a></li>
                        <li><a  th:href="@{manage_recurring_orders}">Manage recurring orders</a></li>
                        <li><a  th:href="@{add_nonrecurring_orders}">Add non-recurring orders</a></li>
                    </ul>
                </li>

                <li class="sub-menu">
                    <a th:href="@{javascript:;}" >
                        <i class="fa fa-users"></i>
                        <span>Customers</span>
                    </a>
                    <ul class="sub">
                        <li><a  th:href="@{view_customers}">View customers</a></li>
                        <li><a  th:href="@{add_new_customer}">Add new customer</a></li>
                    </ul>
                </li>

                <li class="sub-menu">
                    <a th:href="@{monthly_report}">
                        <i class="fa fa-bar-chart-o"></i>
                        <span>Monthly report</span>
                    </a>
                </li>

            </ul>
            <!-- sidebar menu end-->
        </div>
    </aside>
    <!--sidebar end-->

    <!-- **********************************************************************************************************************************************************
    MAIN CONTENT
    *********************************************************************************************************************************************************** -->
    <!--main content start-->
    <section id="main-content">
        <section class="wrapper site-min-height">
            <h3><i class="fa fa-angle-right"></i> View Order detail</h3>

            <!-- BASIC FORM ELELEMNTS -->
            <div class="row mt">
                <div class="col-lg-12">
                    <div class="form-panel">
                        <h4 class="mb"></h4>
                        <form class="form-horizontal style-form" method="get">
                            <div class="form-group">
                                <label class="col-sm-2 control-label">Company</label>
                                <label class="control-label">RMIT</label>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-2 control-label">Pick-up date</label>
                                <label class="control-label">04/11/2017</label>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-2 control-label">Drop-off date</label>
                                <label class="control-label">04/16/2017</label>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-2 control-label">Delivery point</label>
                                <label class="control-label">124 La Trobe St, Melbourne VIC 3000, Australia</label>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-2 control-label">Items</label>
                                <label class="control-label">Colored Suit 50; Jack 1; White Suit 12</label>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-2 control-label">Status</label>
                                <label class="control-label">Complete</label>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-2 control-label">Order Type</label>
                                <label class="control-label">Recurring</label>
                            </div>
                            <div class="form-footer" style="text-align:right">
                                <a type="button" class="btn btn-primary" th:href="@{view_orders}">Back</a>
                            </div>
                        </form>
                    </div>
                </div><!-- col-lg-12-->
            </div><!-- /row -->

        </section><! --/wrapper -->
    </section><!-- /MAIN CONTENT -->

    <!--main content end-->
</section>

<!-- js placed at the end of the document so the pages load faster -->
<script th:src="@{/Resources/dashgumfree_v2/Theme/assets/js/jquery.js}"></script>
<script th:src="@{/Resources/dashgumfree_v2/Theme/assets/js/bootstrap.min.js}"></script>
<script th:src="@{/Resources/dashgumfree_v2/Theme/assets/js/jquery-ui-1.9.2.custom.min.js}"></script>
<script th:src="@{/Resources/dashgumfree_v2/Theme/assets/js/jquery.ui.touch-punch.min.js}"></script>
<script class="include" type="text/javascript" th:src="@{/Resources/dashgumfree_v2/Theme/assets/js/jquery.dcjqaccordion.2.7.js}"></script>
<script th:src="@{/Resources/dashgumfree_v2/Theme/assets/js/jquery.scrollTo.min.js}"></script>
<script th:src="@{/Resources/dashgumfree_v2/Theme/assets/js/jquery.nicescroll.js}" type="text/javascript"></script>


<!--common script for all pages-->
<script th:src="@{/Resources/dashgumfree_v2/Theme/assets/js/common-scripts.js}"></script>

<!--script for this page-->
<script th:src="@{/Resources/dashgumfree_v2/Theme/assets/js/jquery-ui-1.9.2.custom.min.js}"></script>

<!--custom switch-->
<script th:src="@{/Resources/dashgumfree_v2/Theme/assets/js/bootstrap-switch.js}"></script>

<!--custom tagsinput-->
<script th:src="@{/Resources/dashgumfree_v2/Theme/assets/js/jquery.tagsinput.js}"></script>

<!--custom checkbox & radio-->

<script type="text/javascript" th:src="@{/Resources/dashgumfree_v2/Theme/assets/js/bootstrap-inputmask/bootstrap-inputmask.min.js}"></script>


<script th:src="@{/Resources/dashgumfree_v2/Theme/assets/js/form-component.js}"></script>

<!--custom dataPicker-->
<script th:src="@{/Resources/bootstrap-datepicker-1.6.4-dist/js/bootstrap-datepicker.js}"></script>

<!--custom select-->
<script th:src="@{/Resources/bootstrap-select/js/bootstrap-select.js}"></script>

</body>
</html>
